.navContainer {
    background-color: #333;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.navContainer ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.navContainer li {
    display: inline;
}

.navContainer a {
    color: rgb(157, 181, 129);
    text-decoration: none;
    padding: 5px 10%;
    border-radius: 5px;
}

.navContainer a:hover {
    color: white;
    background-color: rgb(64, 79, 47);
}